@import "tailwindcss";

/* Custom font family variable from google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital@0;1&display=swap');

@theme {
  --font-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
}